<h1>Update This Assignment</h1>

<%= render partial: "layouts/errors", locals: {object: @assignment} %>
<%# this will render the errors partial and then send our original variable to the "object" variable in the form%>

<%= form_for @assignment do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
    <br>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
    <br>
    <%= f.label :letter_grade %>
    <%= f.text_field :letter_grade %>
    <br>
    <%= f.label :teacher_id, "Assigning Teacher" %>
    <%= f.collection_select :teacher_id, Teacher.where(user_id: current_user.id), :id, :last_name, prompt: true %>
    <br>
    <br>
    <%= f.label :student_id, "Students who will be assigned" %>
    <%= f.collection_select :student_id, Student.where(user_id: current_user.id), :id, :last_name, prompt: true %>
    <br>
    <br>
    <%# f.collection_select :teacher_id, Teacher.all, :id, :first_name %>   
    <%# you can add the hidden field for setting up user_id but that leaves %>
    <%# a vulnerability to someone changing the hidden field, better in the controller sometimes %>
    <%= f.submit "Update Assignment" %>

<% end %>