<h1>Add a New Assignment</h1>

<%= render partial: "layouts/errors", locals: {object: @assignment} %>
<%# this will render the errors partial and then send our original variable to the "object" variable in the form%>

<%= form_for([@assignment.teacher, @assignment]) do |f| %>
    <%# adding the @teacher allows for nesting and will directly assign this assignment to @teacher %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
    <br>
    <br>
    <% if !@assignment.teacher %>
        <%# removes drop down if there is a teacher for this assignment aka with nesting%>
        <%= f.label :teacher_id, "Assigning Teacher" %>
        <%= f.collection_select :teacher_id, current_user.teachers, :id, :full_name, prompt: true %>
        <br>
        <br>
    <% else %>
        <%= f.hidden_field :teacher_id %>
    <% end %>
    
    <%= f.label :student_id, "Student who will be assigned" %>
    <%= f.collection_select :student_id, current_user.students, :id, :full_name, prompt: true %>
    <br>
    <br>
    <%# f.collection_select :teacher_id, Teacher.all, :id, :first_name %>   
    <%# you can add the hidden field for setting up user_id but that leaves %>
    <%# a vulnerability to someone changing the hidden field, better in the controller sometimes %>
    <%= f.submit "Create a new Assignment" %>

<% end %>