
<h1><%= full_name(@student)%> - <%= @student.user.school %> Student </h1>
<br>

<%= link_to "List of #{full_name(@student)} Assignments", student_assignments_path(@student), class:"btn btn-success btn-sm" %>
<br>
<br>
<br>
<h6><strong>Grade Level:</strong> <%= @student.grade_level %></h6>
<h6><strong>Favorite Movie:</strong> <%= @student.fav_movie %></h6>
<br>
<br>
<br>

<%= link_to "Edit #{full_name(@student)}", edit_student_path(@student), class:"btn btn-info btn-sm" %>
<br>
<br>
<%= link_to "Delete #{full_name(@student)}", @student, method: :delete, data: { confirm: "Please confirm deletion of #{full_name(@student)}"}, class:"btn btn-dark btn-sm"  %>
<br>