
<br>
<br>
<br>
<h1><%= full_name(@student)%>'s Show page </h1>

<h3>Grade Level: <%= @student.grade_level %></h3>
<h3>Favorite Movie: <%= @student.fav_movie %></h3>


<%= link_to "#{@student.user.school} Profile Page", user_path(@student.user.id) %>
<br>
<%= link_to "Edit #{full_name(@student)}", edit_student_path(@student) %>
<br>
<%= link_to "Delete #{full_name(@student)}", @student, method: :delete, data: { confirm: "Please confirm deletion of #{full_name(@student)}"} %>
<br>