<h1> Sign Up for Principal Principle: </h1>
<h3> School Management Tool </h3>
<br>
<br>

<%= render partial: "layouts/errors", locals: {object: @user} %>
<%# this will render the errors partial and then send our original variable to the "object" variable in the form%>

<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email, required:true %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, required:true %>
    <br>
    <br>
    <%= f.label :school %>
    <%= f.text_field :school %>
    <br>
    <br>
    
    <%= f.submit "Create Your New School Admin Experience" %>

<% end %>