

<h1>New Teacher</h1>

<%= form_for @teacher do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
    <br>
    <%# you can add the hidden field for setting up user_id but that leaves %>
    <%# a vulnerability to someone changing the hidden field, better in the controller sometimes %>
    <%= f.submit "Create a new Teacher" %>

<% end %>
