
<br>
<br>
<br>
<h1><%= full_name(@teacher)%> - <%= @teacher.user.school %> Teacher </h1>

<h3>Current Subject: <%= @teacher.subject %></h3>
<h3>Favorite Pastime: <%= @teacher.hobby %></h3>

<% if @teacher.assignments == nil %>
    <h3><%= full_name(@teacher) %> currently has no student assignments</h3>     
<% else %>    
    <h3> List of Students and Assignments for <%= full_name(@teacher)%></h3> 
    <ol>
        <% @teacher.students.uniq.each do |student| %>
        <li><%= full_name(student) %> - <%= link_to "Show Page", student_path(student) %></li>
              <ul>  <% student.assignments.each do |assignment| %>
                   <li> <%= link_to assignment.title, assignment_path(assignment) %></li>
                <% end %> </ul>
        </li>
        <% end %>        
    </ol>
<% end %>





<%= link_to "Add New Assignment", new_teacher_assignment_path(@teacher) %>


<br>
<br>
<br>
<br>
<%= link_to "Edit #{full_name(@teacher)}", edit_teacher_path(@teacher) %>
<br>
<%= link_to "Delete #{full_name(@teacher)}", @teacher, method: :delete, data: { confirm: "Please confirm deletion of #{full_name(@teacher)}"} %>
<br>