
<br>
<br>
<br>
<h1><%= full_name(@teacher)%> - <%= @teacher.user.school %> Teacher </h1>

<h3>Current Subject: <%= @teacher.subject %></h3>
<h3>Favorite Pastime: <%= @teacher.hobby %></h3>

<%#Add list of students who have been assigned things%>
<%#Add list of assignments%>

<%= link_to "Add New Assignment", new_assignment_path %>


<br>
<br>
<br>
<br>
<%= link_to "#{@teacher.user.school} Profile Page", user_path(@teacher.user.id) %>
<br>
<%= link_to "Edit #{full_name(@teacher)}", edit_teacher_path(@teacher) %>
<br>
<%= link_to "Delete #{full_name(@teacher)}", @teacher, method: :delete, data: { confirm: "Please confirm deletion of #{full_name(@teacher)}"} %>
<br>